extends layout
include _includes/sharedHTMLfunctions
block content
      .text-center
        .display-4.text-center
          span.text-center #{pageHeader.strapline}
      hr
      each location in locations 
        .card.bg-dark#cardHome
          a(href='/location')
            h4
              // <a href="/location">Starcups</a/>
              span.text-primary= location.name 
              |&nbsp;
              span
                +outputRating(location.rating)
              span.badge.float-right.badge-default.text-white= location.distance
            p.address.text-white= location.address
            p
              each facility in location.facilities
                span.badge.badge-secondary= facility 
                |&nbsp;
     
      
  