 
extends layout
block content
      .text-center
        .display-4.text-center
          span.text-center #{pageHeader.strapline}
      hr
      each location in locations 
        .card.bg-dark#cardHome
          a(href='/location')
            h4
              // <a href="/location">Starcups</a/>
              span.text-primary= location.name 
              |&nbsp;
              span
                //- - for(var i = 1; i <= location.rating; i++) 
                //-   span.icon-star
                //- - for(car i = location.rating; i < 5; i++) 
                //-   span.icon-star-empty
                span.icon-star
              span.badge.float-right.badge-default.text-white= location.distance
            p.address.text-white= location.address
            p
              each facility in location.facilities
                span.badge.badge-secondary= facility 
     
      
  